{% extends 'base.html' %}

{% block title %}Sobre{% endblock %}

{% block content %}

<div class="col-10 sobre-container">
    <h2>Sobre</h2>
        <p>Criando um jogo com imagens</p>
    <h4>Usando:</h4>
    <ul>
        <li>Django 3.2.9</li>
        <li>Html Css e Bootstrap nos Templates</li>
        <li>Javascript para o timer de 30s</li>
        <li>Banco de dados Sqlite</li>
    </ul>
    <p><strong>By: </strong><a href="https://github.com/cassio645" target="_blank">CASSIO645</a></p>
    {% endblock %}
</div>