{% extends 'base.html' %}

{% block title %}Sobre{% endblock %}

{% block content %}

<div class="col-10 sobre-container">
    <h2>Sobre</h2>
        <p>Criando um jogo com imagens</p>
    <h4>Usando:</h4>
    <ul>
        <li>
            <p>Django 3.2.9 <br>
                Usado para desenvolver o site.<br>
                Usando as sessions do Django para produzir o placar de pontos e vidas.
            </p>
        </li>
        <li>Html Css e Bootstrap nos Templates e estilo</li>
        <li>
            <p>Javascript <br>
                Alterando as cores das mensagens de feedback ("acertou, errou") <br>
                Usado também para desenvolver o timer
            </p>
        </li>
        <li><p>AWS <br> Usado para guardar as imagens </p></li>
        <li>Banco de dados Sqlite</li>
        
    </ul>
    <p><strong>By: </strong><a href="https://github.com/cassio645" target="_blank">CASSIO645</a></p>
    {% endblock %}
</div>